<section class="container w-80">
    <div class="d-flex flex-column justify-content-center align-items-center mx-5 my-5">
        <h1 style="font-family: Bebas Neue;">INFORMACIÓN DEL SERVIDOR</h1>
        <div class="mx-5 my-5">
            <ul>
                <li>
                    Argumentos de entrada: {{argumentosDeEntrada}}
                </li>
                <li>
                    Plataforma:{{nombreDeLaPlataforma}}
                </li>
                <li>
                    Node: {{versionNode}}
                </li>
                <li>
                    Memoria Total Reservada:{{memoriaTotalReservada}}
                </li>
                <li>
                    Path de ejecución:{{pathDeEjecucion}}
                </li>
                <li>
                    Id del proceso: {{processId}}
                </li>
                <li>
                    Carpeta del proyecto {{carpetaDelProyecto}}
                </li>
            </ul>
        </div>
</div>
</section>